In [1]:
import viewser

In [3]:
from viewser import Queryset, Column

In [4]:
new_queryset = (Queryset("simple_conflict", "country_month")

           .with_column(Column("ged_sb", from_loa="country_month", from_column="ged_sb_best_sum_nokgi")
                        )
            )

In [5]:
data = new_queryset.publish()

In [6]:
data = new_queryset.fetch()

Queryset simple_conflict read successfully

In [7]:
data.head()

                     ged_sb
month_id country_id
1        1              NaN
         2              NaN
         3              NaN
         4              NaN
         5              NaN

In [8]:
data

                     ged_sb
month_id country_id
1        1              NaN
         2              NaN
         3              NaN
         4              NaN
         5              NaN
...                     ...
852      242            NaN
         243            NaN
         244            NaN
         245            NaN
         246            NaN

[158230 rows x 1 columns]